@import "nullstyle.css";

body{
	font-family: Arial, sans-serif;
	font-weight: 700;
}

.slider{
	position: relative;
	width: 400px;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center
}

.slides img{
	width: 200px;
	display: none;
}

img.displaySlide{
	display: block;
	animation-name: fade;
	animation-duration: 1s;
}

button{
	font-size: 4rem;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	transition: all 0.3s;
}
button:hover{
	transform: scale(1.4);
}
.prev{
	position: absolute;
	top: 300px;
	left: 0;
}
.next{
	position: absolute;
	top: 300px;
	right: 0;
}

@keyframes fade {
	from {
		opacity: .5
	}
	to{
		opacity: 1
	}
}